.bio {
    width: 100vw;
    background-color: #333;
    color: white;
}

.Section_one_pic_box {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80vh;
}

.profil_pic {
    height: 100%;
    border-radius: 5px;
}

.bio_text {
    width: 28%;
    font-size: 1.25em;
    user-select: none;
    text-align: justify;
}
