.header {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%;
    height: 100px;
}

.header_left {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.header_mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header_mid_text {
    user-select: none;
    cursor: pointer;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.header_right {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
